:root{
    --main-color-green: rgb(129, 178, 20);
    --main-color-green-25: rgba(129, 178, 20,0.25);
    --black-fade-:rgba(0,0,0,0.5);
    --black-fade-60:rgba(0,0,0,0.7);
    --black-fade-20:rgba(0,0,0,0.2);
    --black-fade-10:rgba(0,0,0,0.1);
    --font-color-one: rgb(198, 220, 149);
    --font-color-one-f: rgba(44, 65, 0, 0.8);
}
body{
    font-family: 'Montserrat',Century Gothic, sans-serif;
    margin: 0;
    padding: 0;
}
hr{
    border:none;
    width: 100%;
    background-image: linear-gradient(90deg,var(--main-color-green), yellow, red);
    height: 2px;
}
p{
    text-indent: 10px;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: large;
    margin: 0;
    background-color: rgb(204, 204, 204);
}
nav .nav-item{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    transition: 0.3s;
}
nav .nav-item:hover{
    background-color: var(--black-fade-20);
}
.nav-item a{
    text-decoration: none;

    padding: 10px;
}
nav .act{
    background-color: var(--main-color-green);
}
/*
-------------------Clases-------------------
*/
/*Header*/
header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header .content-head{
    background-color: var(--font-color-one-f);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 300px;
}
.content-head .title{
    font-size: 80px;
    color: white;
    font-weight: bolder;
}
.content-head .subtitle{
    font-size: x-large;
    color: white;
    align-self: start;
}
/*Content*/
section.welcome{
    width: 60%;
    margin: 25px auto;
    text-align: justify;
    font-size: large;
}
/*Glosario*/
.under{
    background-color: var(--black-fade-10);
    margin: 0;
    padding: 40px 0;
}
hr.div{
    background-image: none;
    background-color: var(--black-fade-);
    height: 3px;
    width: 100%;
    margin: 0;
}
div.glosary{
    width: 60%;
    margin: 25px auto;
}
.title{
    font-size: x-large;
    font-weight: bold;
}
.content{
    text-align: justify;
}
div.titleF{
    width: 60%;
    font-size: xx-large;
}
/*Pasos*/
section.pasos{
    width: 60%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 25px;
    overflow: auto;
}
/*cards*/
.pasos .card{
    border: solid 1px var(--black-fade-);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}
.card .content{
    background-color: var(--black-fade-60);
    height: calc(100% - 20px);
    border-radius: 10px;
    padding: 10px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.card .title{
    max-width: 100%;
    align-self: end;
    justify-self: center;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
.pasos p{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.card .hr-card{
    margin: 0;
    align-self: start;
    width: 80%;
    justify-self: center;
}
/*Llamada a la accion*/
.me-certifico{
    width: 60%;
    padding: 10px;
    margin: 25px auto;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: var(--main-color-green);
}
.me-certifico button{
    padding: 15px;
    background-color: var(--main-color-green);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: x-large;
    transition: 0.3s ease;
}
.me-certifico button:hover{
    transform: scale(1.05);
}
/*footer*/
footer{
    background-color: var(--main-color-green);
    padding: 25px;
    margin: 0;
}
footer .contact{
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    width: 30%;
    margin: auto;
    column-gap: 20px;
}
footer .image{
    justify-self: end;
    padding: 4px 0;
}
footer .contact-content{
    font-size: large;
    align-self: center;
}
body .whatsapp{
    position: fixed;
    right: 25px;
    bottom: 25px;
    transition: 0.3s ease;
}
body .whatsapp:hover{
    transform: scale(1.05);
}

/*
-------------------Responsive-------------------
*/
@media( max-width: 720px ){
    header .content-head{
        padding: 10px;
    }
    .content-head .title{
        font-size: 50px;
    }
    .content-head .subtitle{
        font-size: 25px;
        color: white;
    }
    div.glosary{
        width: 80%;
    }
    section.pasos{
        width: 80%;
        grid-template-columns: 1fr;
    }
    div.title{
        width: 80%;
    }
    footer .contact{
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        width: 90%;
        margin: auto;
        column-gap: 20px;
    }
    nav{
        grid-template-columns: 1fr;
        background-color: var(--black-fade-20);
    }
}