:root{
    --main-color-green: rgb(129, 178, 20);
    --main-color-green-25: rgba(129, 178, 20,0.25);
    --black-fade-:rgba(0,0,0,0.5);
    --black-fade-20:rgba(0,0,0,0.2);
    --font-color-one: rgb(198, 220, 149);
    --font-color-one: rgb(198, 220, 149);
}
body{
    font-family: 'Montserrat',Century Gothic, sans-serif;
    margin: 0;
    padding: 0;
    font-size: medium;
}
ol{
    list-style-type: upper-roman;
}
hr{
    border:none;
    width: 100%;
    background-image: linear-gradient(90deg,var(--main-color-green), yellow, red);
    height: 2px;
}
li{
    font-weight: bold;
}
header{
    background-color: var(--black-fade-20);
    margin: 0;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    color: rgba(0,0,0,0.5);
}
section{
    margin: 0 auto;
    width: 60%;
}

/*Clases*/
/*content*/
section p.title{
    margin-top: 30px;
    font-size: xx-large;
    font-weight: bold;
}
section p.subtitle{

    margin-top: 50px;
    font-size: x-large;
    font-weight: bold;
}
section p.content{
    font-size: medium;
    text-indent: 10px;
    text-align: justify;
}

li.alpha{
    list-style-type: upper-alpha;
}
/*Footer*/
footer{
    background-color: var(--black-fade-20);
    padding: 25px;
    margin: 0;
}
footer .contact{
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    width: 30%;
    margin: auto;
    column-gap: 20px;
}
footer .image{
    justify-self: end;
    padding: 4px 0;
}
footer .contact-content{
    font-size: large;
    align-self: center;
}
body .whatsapp{
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: 0.3s ease;
}
body .whatsapp:hover{
    transform: scale(1.05);
}
@media(max-width: 720px){
    footer .contact{
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        width: 90%;
        margin: auto;
        column-gap: 20px;
    }
}
