:root{
    --main-color-green: rgb(129, 178, 20);
    --main-color-green-25: rgba(129, 178, 20,0.25);
    --black-fade-:rgba(0,0,0,0.65);
    --black-fade-20:rgba(0,0,0,0.2);
    --font-color-one: rgb(198, 220, 149);
    --font-family-text: 'Montserrat',Century Gothic, sans-serif;
    --font-family-titles: 'Poppins', sans-serif;
}
hr{
    border:none;
    width: 100%;
    background-image: linear-gradient(90deg,var(--main-color-green), yellow, red);
    height: 3px;
    margin: 0;
}
body{
    font-family: var(--font-family-text);
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: bolder;
}
header .img-header{
    margin: 25px auto 0px auto;
    width: fit-content;
}

h2{
    font-size: x-large;
}
p{
    font-size: large;
}
p.sub{
    font-size: medium;
}
.content-dark p,
.content-dark p.sub,
ol{
    color: white;
    font-weight: bolder;
}
.content-dark h2{
    color: var(--main-color-green);
    font-weight: bolder;
}
.content,
.cont{
    width: 80%;
    margin: auto;
}
.content-dark{
    background-color: var(--black-fade-);
    padding: 15px 0px;
}
footer p{
    font-size: small;
}
.dual{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
    text-align: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.card img{
    width: 25%;
}
iframe{
    width: 560px; 
    height: 315px;
}

@media( max-width: 720px ){
    .dual, .cards{
        grid-template-columns: 1fr;
    }
    iframe{
        width: 350px;
        height: 190px;
    }
}